.main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.h1 {
  margin-bottom: 20px;
  color: orange;
  margin-left: 0px;
  align-items: center;
  align-self: center;
  align-content: center ;
}

.img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px; 
}

.divCategories{
  display: grid;
}

.p {
  margin-bottom: 20px;
}

.ingredientesMedidas {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  /* width: 100%; */
  /* margin-top: 20px; */
  /* align-items: center; */
  /* height: 50vh; */
}

.ingredientes h3, .medidas h3 {
  margin-bottom: 10px;
}

.ingredientes, .medidas {
  width: 45%; 
  text-align: left;
  padding: 0 20px;
}

.ingredientes ol, .medidas ol {
  padding-left: 0px; 
  list-style-type: none;
  counter-reset: item;
}

.ingredientes li, .medidas li {
  margin-bottom: 5px;
  position: relative;
  padding-left: 30px; 
  text-align: left;
  list-style-type: none;
  font-size: 1rem;
  counter-increment: item;  
}

.ingredientes li::before, .medidas li::before {
  content: counter(item) "."; 
  position: absolute;
  left: 0;
  font-size: 1rem;
  font-weight: bold;
}

.button {
  display: block;
  margin: 20px auto;
  background-color: orange;
  color: #FFFFFF;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: darkorange;
}

.button:active {
  opacity: 0.7;
}

.botaoSource {
  display: block;
  margin-top: 10px;
  color: #007BFF;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #0056b3;
}
