
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: Arial, sans-serif;
}

header {
background-color: #f8f8f8;
padding: 10px;
}

nav a {
text-decoration: none;
color: black;
margin: 0 15px;
}

#right-nav {
float: right;
}

nav a:hover {
color: orange;
}

main {
padding: 20px;
}

h1 {
margin-bottom: 20px;
color: orange;
margin-left: calc(100% / 5 + 10px);
}

.alfabeto {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center;
}

.alfabeto a {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.alfabeto a:hover {
    background-color: orange;
    color: white;
}

.receitas-container {
    margin-top: 20px;
}

.receitas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .receita {
    flex-basis: calc(100% / 4 - 20px);
    margin: 10px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    display: inline-block;
    width: calc(33.333% - 20px);
    margin-right: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 0.75rem;
    overflow: hidden;
  }
  
  .receita a {
    display: flex;
    width: 100%;
  }
  
  .receita a img {
    object-fit: cover;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    height: 100%;
    max-height: 12rem;
    width: 100%;
    display: block;
  }
  
  .receita-info {
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: left;
  }
  
  .receita-info .content {
    flex-grow: 1; 
  }
  
  .receita div {
    padding: 10px;
  } 
  
  .receita-info button {
    align-self: flex-start;
    background-color: orange;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: auto;
  }
  
  .receita-info button:hover {
    background-color: darkorange;
  }
  .receita-info button:active {
    opacity: 0.7;
  }
  
  .content h2 {
    min-height: 56px;
  }